<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat" rel="stylesheet">
    <title>Pond5 Test</title>
</head>

<body>
    <div class="container">

        <div class="row heading">
            <div class="col">

                <h1 class="heading" align="center">POND5 Test</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <h2 align="center">{{pong}}</h2>
            </div>
        </div>
        <div align="center" class="row pic">
            <div class="col">
                <img src="{{mypic}}"></img>
            </div>
        </div>
        <div align="center" class="row system">
            <div class="col">
                {% for msgs in system %}

                <p>Operating System:<em>{{msgs.opt_system}}</em></p>
                <p>Service Version:{{msgs.system_version}}</p>
                {% endfor%}
            </div>
        </div>
        <div align="center" class="row details">
            <div class="col">
                {% for detls in pic_details%}
                <p> Image filename : <em>{{detls.image_filename}}</em></p>
                <p>Image title : {{detls.image_title}}</p>
                {% endfor%} {%for details in pic_size_dimensions%}

                <p>{{details}}</p>
                {%endfor%}

            </div>
        </div>
    </div>
</body>

</html>
